// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$xs-screen: 320px;
$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;


// Font
$font_family: Roboto, 'Helvetica Neue', sans-serif;
$default_font_size: 14px;
