<section class="page-container" >
  <app-page-title [pageTitle]=pageTitle></app-page-title>
  <div class ="searchContainer" >
    <mat-form-field appearance="outline">
      <mat-label>Search By Country</mat-label>
      <input matInput [formControl]="searchControl"  type="search"  id="searchbyCountry"  placeholder="Search By Country" >
    </mat-form-field>
  </div>

  <ng-container *ngIf="isLoading">
    <div class="loader"></div>
  </ng-container>

  <app-country-table id="demo6" [countries]="countries$ | async"> </app-country-table>
</section>

