@import '~src/styles/themes/theme-variables';
@import '~src/styles/components/menu';
.toolbar {
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	left: 0;
	right: 0;
	height: 60px;
	display: flex;
	align-items: center;
	background-color: $primary;
	color: white;
	font-weight: 500;
	.title {
		margin-left: 10px;
	}
	img {
		margin-left: 10px;
	}
	.twitter-logo {
		margin-right: 15px;
	}
	.menu-btn {
		margin-left: 10px;
		line-height: 30px;
	}
}

