@import '~@angular/material/theming';
@import '~src/styles/themes/custom-palette';
@import '~src/styles/themes/expedia-theme';

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: $primary;
  color: white;
  font-weight: 500;
}
.toolbar .title {
  margin-left: 10px;
  margin-top: 12px;
}

.toolbar img {
  margin-left: 10px;
}
.toolbar .twitter-logo {
  margin-right: 15px;
}

.toolbar .menu-btn {
  margin-left:10px;
  line-height:30px;
}

