<div class="toolbar">
  <mat-toolbar color="primary" role="navigation"  class="toolbar" >
    <mat-toolbar-row>
      <a mat-button [routerLink]="['/home']">
        <img
          class="logo"
          alt="Apple Logo"
          src="assets/images/logo.png"
        />
      </a>
      <a role="banner" mat-button [routerLink]="['/home']" class="title"><h3>Angular Interceptors Demo</h3></a>
      <div class="spacer"></div>
      <button [routerLink]="['/home']" [routerLinkActive]="['menu-active']" mat-flat-button class="menu-btn" color="primary">Home</button>
      <button [routerLink]="['/search']" [routerLinkActive]="['menu-active']" mat-flat-button class="menu-btn" color="primary">Search</button>
      <button [routerLink]="['/sequential']" [routerLinkActive]="['menu-active']" mat-flat-button class="menu-btn" color="primary">Sequential</button>
      <button [routerLink]="['/parallel']" [routerLinkActive]="['menu-active']" mat-flat-button class="menu-btn" color="primary">Parallel</button>
      <a aria-label="application source code in github" target="_blank"
        rel="noopener" href="https://github.com/kumaran-is/ngx-interceptors-demo" title="Github">
        <img src="assets/images/github-logo.svg">
      </a>
      <a aria-label="follow my twitter account" class="twitter-logo"target="_blank"
        rel="noopener" href="https://twitter.com/kumaranis" title="Twitter">
        <img src="assets/images/twitter-logo.svg">
      </a>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

