<h1 mat-dialog-title>An error has occurred!</h1>
<div mat-dialog-content>
	<p *ngIf="errorWrapper?.statusCode; else nostatus">
		<b>Status Code: {{errorWrapper?.statusCode}}</b>
  </p>
  <ng-template #nostatus>
    <p><b>Something went wrong!</b></p>
  </ng-template>
  <div class="error-message">
    <p>{{errorWrapper?.description}}</p>
    <p>{{errorWrapper?.message}}</p>
  </div>
</div>
<div mat-dialog-actions>
	<button mat-raised-button mat-dialog-close color="primary">
    Close
  </button>
</div>
