// -----------------------------------------------------------------------------
// This file contains custom theme - Expedia look alike theme
// -----------------------------------------------------------------------------
@import 'custom-palette.scss';

$app-expedia-primary: mat-palette($mat-custom-yellow, 700, 600, 700);
$app-expedia-accent:  mat-palette($mat-custom-princess-blue, 500, 600, 700);
$app-expedia-warn: mat-palette($mat-red);
$app-expedia: mat-light-theme($app-expedia-primary, $app-expedia-accent, $app-expedia-warn);
$primary: mat-color($app-expedia-primary);
$accent: mat-color($app-expedia-accent);
$warn: mat-color($app-expedia-warn);
