// -----------------------------------------------------------------------------
// This file contains custom netflix theme that uses custom palette colors
// -----------------------------------------------------------------------------

@import 'custom-palette.scss';

$app-netflix-primary: mat-palette($mat-custom-raisin-black, 500, 600, 700);
$app-netflix-accent:  mat-palette($mat-custom-crimson-red, 500, 600, 700);
$app-netflix-warn: mat-palette($mat-red);
$app-netflix: mat-light-theme($app-netflix-primary, $app-netflix-accent, $app-netflix-warn);
$primary: mat-color($app-netflix-primary);
$accent: mat-color($app-netflix-accent);
$warn: mat-color($app-netflix-warn);
