/* You can add global styles to this file, and also import other style files */
body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}
a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

// customize Angular material snackbar style
.green-snackbar {
	background: #28a745;
	color: white;
	button {
		background-color: #28a745;
		color: white;
		border: none;
	}
}

.red-snackbar {
	background: #dc3545;
	color: white;
	button {
		background-color: #dc3545;
		color: white !important;
		border: none;
	}
}

.orange-snackbar {
	background: #fd7e14;
	color: white;
	button {
		background-color: #fd7e14;
		color: white !important;
		border: none;
	}
}

.cyan-snackbar {
	background: #17a2b8;
	color: white;
	button {
		background-color: #17a2b8;
		color: white !important;
		border: none;
	}
}

/* You can add global styles to this file, and also import other style files */
// -------------------------------------------------------------------------------------------------------------------
// Entry point of global application style. You can add global styles to this file, and also import other style files
// Component-specific style should not go here and be included directly as part of the components.
// -------------------------------------------------------------------------------------------------------------------
@charset 'UTF-8';

// 1. Configurations and helpers
@import './helpers/variables', './helpers/functions', './helpers/mixins';

// 3. Base Stuff
@import './base/base', './base/fonts', './base/reset', './base/typography';

// 4. Components
@import './components/app-loading', './components/auth', './components/button', './components/form', './components/parallax';

// 5. Themes
@import './themes/theme-variables', './themes/theme-mixins',  './themes/themes';
