<section class="page-container" >
  <app-page-title [pageTitle]=pageTitle></app-page-title>
  <div class ="searchContainer" >
    <mat-form-field appearance="outline">
      <mat-label>Country Name</mat-label>
      <input matInput type="search" #searchCapitalWeather id="searchCapitalWeather"  placeholder="Country Name" >
    </mat-form-field>
    <span class="space"></span>
    <button mat-raised-button color="primary" (click)="populateCapitalWeather(searchCapitalWeather.value)" >
      Populate Capital City Weather
    </button>
  </div>
  <div class="cardContainer">
    <app-weather-card [weather]="weather$ | async"> </app-weather-card>
  </div>
</section>
