<section class="page-container" >
  <app-page-title [pageTitle]=pageTitle></app-page-title>
  <div class ="searchContainer" >
    <mat-form-field appearance="outline">
      <mat-label>Capital Name</mat-label>
      <input matInput type="search" #searchCountryAndCapitalCityWeather id="searchCountryAndCapitalCityWeather"
      placeholder="Capital City Name" >
    </mat-form-field>
    <span class="space"></span>
    <button mat-raised-button color="primary"
    (click)="populateCountryDetailAndCapitalCityWeather(searchCountryAndCapitalCityWeather.value)" >
    Populate Country and Weather</button>
  </div>

  <div class="cards-container" *ngIf="combinedResponse$ | async; let combinedData; else displayErrorMessage">
    <div class="card">
      <app-country-card id="demo9country" [country]="combinedData[0]" > </app-country-card>
    </div>
    <div class="card">
      <app-weather-card id="demo9weather" [weather]="combinedData[1]"> </app-weather-card>
    </div>
  </div>

  <ng-template #displayErrorMessage>
    <p class="error" >No matching record found for your search criteria.</p>
  </ng-template>
</section>

