<section class="cardContainer" >
  <span class="cardTitleText">{{ weather?.name }}</span>
    <div class="flagIconContainer" >
      <img src="assets/img/weather.gif" height="200" width="300" >
    </div>
    <div>
        <span class="label-black">Description :</span>
        <span class="dataText-black">{{ weather?.description }}</span>
    </div>
    <div>
        <span class="label-black">Current Temp :</span>
        <span class="dataText-black">{{ weather?.temperature }}</span>
    </div>
    <div>
      <span class="label-black">Max Tem :</span>
      <span class="dataText-black">{{ weather?.maxTemperature }}</span>
  </div>
  <div>
      <span class="label-black">Min Temp :</span>
      <span class="dataText-black">{{ weather?.minTemperature }}</span>
  </div>
</section>
