<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{ country?.name }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="country?.flag" alt="weather">
  <mat-card-content>
    <div>
      <span class="label">Capital :</span>
      <span>{{ country?.capital }}</span>
    </div>
    <div>
      <span class="label">Region :</span>
      <span>{{ country?.region }}</span>
    </div>
    <div>
      <span class="label">Population :</span>
      <span>{{ country?.population | number }}</span>
    </div>
    <div>
      <span class="label">Currency :</span>
      <span>{{ country?.currency }}</span>
    </div>
  </mat-card-content>
</mat-card>
