/**
 * Basic typography style for copy text
 */
 @import '~src/styles/helpers/variables';

html, body {
  font-family: $font_family;
  font-size: $default_font_size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
